.center
  .formHeader
    %p{class: "formHeaderText"} Login 
    = form_for :user, url: authenticate_path do |f|
      .formItem
        %p
          = f.label :username
          %br/
          = f.text_field :username	
        %p
          = f.label :password
          %br/
          = f.text_field :password
        .submit{class: "submitButton"} 
          = f.submit 

  = link_to 'back', root_path, class: 'btn btn-primary'        
