=render partial: 'nav'
%br
%br
%br
.fitted
  / = link_to 'logout', root_path
  / = link_to 'new', new_user_article_path(@user)
  -if @feed
    %h1{class: "some"} Article Feed
  -else  
    %h1{class: "some"} Your Articles
  %td{class: 'alignRight'}= link_to 'new', new_user_article_path(@user)  
  %td{class: 'alignRight'}= link_to 'home(for testing)', root_path  

  -@articles.each do |article|
    %div{class: 'panel panel-default'}
      .panel-heading{class: 'articleTitle'}= article.title
      .panel-body{class: 'articleText'}= article.text    
      %table{class: 'articleLinks', align: 'right'}
        %tr{align: 'right'}
          %td= link_to 'show', user_article_path(@user.id, article.id)
          -if article.user.id.to_s == session[:user_id]
            %td= link_to 'edit', edit_user_article_path(@user.id, article.id)
            %td= link_to 'delete', user_article_path(@user.id, article.id), method: :delete, data: { confirm: 'Are you sure?' }

      %br 
      %br    

